<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="UserConnectionString" providerName="System.Data.SqlClient" connectionString="Server=DESKTOP-0P6S3HA\SQLEXPRESS;Database=ManualDb;Trusted_Connection=No;User ID=_User;Password=UserPasswordTest" />
    <add name="AdminConnectionString" providerName="System.Data.SqlClient" connectionString="Server=DESKTOP-0P6S3HA\SQLEXPRESS;Database=ManualDb;Trusted_Connection=No;User ID=_Admin;Password=AdminPasswordTest" />
    <add name="MyConnectionString" providerName="System.Data.SqlClient" connectionString="Server=DESKTOP-0P6S3HA\SQLEXPRESS;Database=ManualDb;Trusted_Connection=No;User ID=_User;Password=UserPasswordTest" />

  </connectionStrings>
</configuration>